@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);
    --BodyFont: 'Alata', sans-serif;
    --HeaderFont: 'Josefin Sans', sans-serif;
}

.creation-container{
    height: 100vh;
    padding: 0 30px 0;
}

.card{
    background-image: url(../../assets/mobile/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
    height: 180px;    
    /* padding: 40px 0 0 40px; */
    position: relative;
}

.creation-heading{
    font-family: var(--HeaderFont);
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    margin: 50px 0 50px 0;
}

.title{
    color: white;
    font-family: var(--HeaderFont);
    text-transform: uppercase;
    font-size: 2.1rem;
    width: 100px;
    position: absolute;
    top: 90px;
    left: 30px;
    letter-spacing: 2px;
}