 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --White: hsl(0, 0%, 100%);
     --Black: hsl(0, 0%, 0%);
     --DarkGray: hsl(0, 0%, 55%);
     --VeryDarkGray: hsl(0, 0%, 41%);
     --BodyFont: 'Alata', sans-serif;
     --HeaderFont: 'Josefin Sans', sans-serif;
 }

 .leader-container {
     display: flex;
     flex-direction: column;
     height: 100vh;
     background-color: white;
     padding: 20px 30px;
     margin-top: 50px;
     margin-bottom: 20px;

 }


 .leader-pix {
     background-image: url(../../assets/mobile/image-interactive.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100%;
     min-height: 200px;
     min-width: 320px;    
     margin: auto;

 }

 .content {
     padding: 40px 20px;
     max-width: 600px;
     margin: auto;
 }

 .leader-header {
     font-family: var(--HeaderFont);
     text-transform: uppercase;
     text-align: center;
     font-size: 2rem;
     margin-bottom: 30px;
     /* width: 740px;
    height: 63%;   */
     /* border: 1px solid red; */
     
 }

 .leader-body {
     font-size: 1.3rem;
     text-align: center;
     color: var(--VeryDarkGray);
     font-family: var(--BodyFont);
     line-height: 1.9rem;
 }

 @media (min-width:700px) {

     .leader-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0 10px 40px 10px;
         position: relative;
         width: 95vw;
         height: 100vh;  
         margin: auto;
     }
     
     .leader-pix {
        background-image: url(../../assets/desktop/image-interactive.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 680px;
        height: 60%;
        background-color: white;
        
    }

    .content {
        /* padding: 30px 20px 30px 50px; */
        background-color: white;
        max-width: 400px;
        transform: scale(1.5);
        margin-top: -20px;
    }

    .leader-header {
        text-align: left;
        font-size: 2.2rem;
        
    }

    .leader-body {
        font-size: .7rem;
        text-align: left;
        line-height: 1.2rem;
    }
    }

 @media (min-width:1020px) {

     .leader-container {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 10px 10px;
         position: relative;
         width: 95vw;
         height: 90vh;
         margin: auto;
         position: relative;
     }

     .leader-pix {
         background-image: url(../../assets/desktop/image-interactive.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
         min-width: 740px;
         height: 63%;
         background-color: white;
         position: absolute;
         left: -40px;
     }

     .content {
         transform: scale(1.5);
         padding: 50px 20px 20px 50px;
         position: absolute;
         top: 250px;
         left: 520px;
         background-color: white;
         max-width: 400px;
         transform: scale(1.2);
     }

     .leader-header {
         text-align: left;
         font-size: 2.2rem;
     }

     .leader-body {
         font-size: .7rem;
         text-align: left;
         line-height: 1.2rem;
     }

 }

 @media (min-width:1280px) {

     .leader-pix {
         min-width: 740px;
         height: 63%;
         background-color: white;
         position: absolute;
         left: 40px;
     }

     .content {
         padding: 50px 20px 20px 50px;
         position: absolute;
         top: 350px;
         left: 620px;
         background-color: white;
         max-width: 400px;
         transform: scale(1.2);
     }
 }