@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);
    --BodyFont: 'Alata', sans-serif;
    --HeaderFont: 'Josefin Sans', sans-serif;
}



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 20vh;
    padding: 20px 10px 10px 20px;
    text-align: center;
}

.navigation, .social-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.copyright{
    font-size: 1rem;
    font-family: var(--BodyFont);
    color: var(--DarkGray);
}

/* .navigation ul{
display: flex;
} */

li:hover{
    text-decoration: underline;
    color: red;
}

.navigation ul li{
list-style: none;
font-size: 1.2rem;
margin-bottom: 30px;
}
.navigation ul li a{
text-decoration: none;
color: white;
}

.footer .logo{
    width: 300px;
    margin-bottom: 50px;
}

.list-items{
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.list-items li{
    margin-right: 30px;
}
.list-items li:last-child {
    margin-right: 0px;
}

.list-items img{
    width: 30px;
}
.list-items img:hover{
    border-bottom: 1px solid white;
}


@media (min-width:900px) {
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        height: 15vh;
        padding: 20px 80px;
    }
    .navigation, .social-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .navigation ul{
        display: flex;
        list-style: none;
        font-size: 1.8rem;
        margin-bottom: 30px;
        }

    .social-list{
        align-items: flex-end;
        }
    .navigation{
        align-items: flex-start;
        }

    .navigation ul li{
    list-style: none;
    font-size: 1rem;
    margin-right: 30px;
    margin-bottom:0 ;
}       

.footer .logo{
    width: 120px;
    margin-bottom: 10px;
}
.list-items{
    margin-bottom: 10px;
}
.list-items img{
    width: 25px;
    margin-right: 0px;
}
.list-items li:last-child {
    margin-right: 0px;
}
.copyright{
    font-size: 1.1rem;
    font-family: var(--BodyFont);
    color: var(--DarkGray);
}
}


@media (min-width:1200px) {
    .footer{
        padding: 20px 320px;
    }
}

/* @media (width:360px) {
    .footer{
       he
    }
} */
